//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW5AT-LV60PG484AC1/I0
//Device: GW5AT-60
//Device Version: B
//Created Time: Mon 11 17 00:36:31 2025

IO_LOC "ddr_bank[2]" M6;
IO_PORT "ddr_bank[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[1]" P2;
IO_PORT "ddr_bank[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[0]" P5;
IO_PORT "ddr_bank[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[13]" K1;
IO_PORT "ddr_addr[13]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[12]" K4;
IO_PORT "ddr_addr[12]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[11]" H3;
IO_PORT "ddr_addr[11]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[10]" L1;
IO_PORT "ddr_addr[10]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[9]" H5;
IO_PORT "ddr_addr[9]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[8]" J5;
IO_PORT "ddr_addr[8]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[7]" J1;
IO_PORT "ddr_addr[7]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[6]" G3;
IO_PORT "ddr_addr[6]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[5]" H2;
IO_PORT "ddr_addr[5]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[4]" J2;
IO_PORT "ddr_addr[4]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[3]" J4;
IO_PORT "ddr_addr[3]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[2]" G2;
IO_PORT "ddr_addr[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[1]" K2;
IO_PORT "ddr_addr[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[0]" M1;
IO_PORT "ddr_addr[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_odt" M2;
IO_PORT "ddr_odt" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cke" K6;
IO_PORT "ddr_cke" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_we" M5;
IO_PORT "ddr_we" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cas" L4;
IO_PORT "ddr_cas" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ras" L5;
IO_PORT "ddr_ras" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cs" P4;
IO_PORT "ddr_cs" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_reset_n" L6;
IO_PORT "ddr_reset_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ck" L3,K3;
IO_PORT "ddr_ck" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[1]" V7;
IO_PORT "ddr_dm[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[0]" AA4;
IO_PORT "ddr_dm[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[15]" Y9;
IO_PORT "ddr_dq[15]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[14]" AB6;
IO_PORT "ddr_dq[14]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[13]" W9;
IO_PORT "ddr_dq[13]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[12]" AB8;
IO_PORT "ddr_dq[12]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[11]" Y7;
IO_PORT "ddr_dq[11]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[10]" AB7;
IO_PORT "ddr_dq[10]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[9]" Y8;
IO_PORT "ddr_dq[9]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[8]" AA8;
IO_PORT "ddr_dq[8]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[7]" AB1;
IO_PORT "ddr_dq[7]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[6]" AB5;
IO_PORT "ddr_dq[6]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[5]" AB2;
IO_PORT "ddr_dq[5]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[4]" AA1;
IO_PORT "ddr_dq[4]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[3]" V4;
IO_PORT "ddr_dq[3]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[2]" AA5;
IO_PORT "ddr_dq[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[1]" AB3;
IO_PORT "ddr_dq[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[0]" Y4;
IO_PORT "ddr_dq[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[1]" V9,V8;
IO_PORT "ddr_dqs[1]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[0]" Y3,AA3;
IO_PORT "ddr_dqs[0]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "RGMII_RST_N" AB18;
IO_PORT "RGMII_RST_N" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "RGMII_TXEN" W20;
IO_PORT "RGMII_TXEN" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "RGMII_TXD[3]" AB22;
IO_PORT "RGMII_TXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "RGMII_TXD[2]" AB21;
IO_PORT "RGMII_TXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "RGMII_TXD[1]" AB20;
IO_PORT "RGMII_TXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "RGMII_TXD[0]" AA19;
IO_PORT "RGMII_TXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "RGMII_GTXCLK" W19;
IO_PORT "RGMII_GTXCLK" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "RGMII_RXDV" Y18;
IO_PORT "RGMII_RXDV" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXD[3]" W17;
IO_PORT "RGMII_RXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXD[2]" V17;
IO_PORT "RGMII_RXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXD[1]" U18;
IO_PORT "RGMII_RXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXD[0]" U17;
IO_PORT "RGMII_RXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXCLK" Y19;
IO_PORT "RGMII_RXCLK" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rst_n" L18;
IO_PORT "rst_n" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "sys_clk" V22;
IO_PORT "sys_clk" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;

INS_LOC "u_ddr3_fifo/u_ddr3/gw3_top/u_ddr_phy_top/u_dll" DDRDLLM_BL;
SET_PARAM "u_ddr3_fifo/u_ddr3/gw3_top/u_ddr_phy_top/u_dll" CLKIN_SEL=CLKIN5;


