*.fsproj linguist-detectable=false
*.fs linguist-detectable=false
*.html linguist-detectable=false

/Firmware/GoWinSDR_STM32/Hardware/ad9361/* linguist-vendored

*.py linguist-detectable=true
*.v linguist-detectable=true
*.vhd linguist-detectable=true
*.c linguist-detectable=true
*.h linguist-detectable=true