//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW5AT-LV60PG484AC1/I0
//Device: GW5AT-60
//Device Version: B
//Created Time: Tue 11 25 22:59:57 2025

IO_LOC "trig_out" J19;
IO_PORT "trig_out" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "iot_signal" K18;
IO_PORT "iot_signal" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "led" AA18;
IO_PORT "led" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_valid" H18;
IO_PORT "cal_valid" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_data_clk" K19;
IO_PORT "cal_data_clk" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_data_out[7]" L15;
IO_PORT "cal_data_out[7]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_data_out[6]" N20;
IO_PORT "cal_data_out[6]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_data_out[5]" M20;
IO_PORT "cal_data_out[5]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_data_out[4]" L16;
IO_PORT "cal_data_out[4]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_data_out[3]" K16;
IO_PORT "cal_data_out[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_data_out[2]" N18;
IO_PORT "cal_data_out[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_data_out[1]" N19;
IO_PORT "cal_data_out[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_data_out[0]" M18;
IO_PORT "cal_data_out[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "RGMII_RST_N" AB18;
IO_PORT "RGMII_RST_N" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "RGMII_TXEN" W20;
IO_PORT "RGMII_TXEN" IO_TYPE=LVCMOS25 SLEW_RATE=FAST PULL_MODE=NONE DRIVE=16 BANK_VCCIO=2.5;
IO_LOC "RGMII_TXD[3]" AB22;
IO_PORT "RGMII_TXD[3]" IO_TYPE=LVCMOS25 SLEW_RATE=FAST PULL_MODE=NONE DRIVE=16 BANK_VCCIO=2.5;
IO_LOC "RGMII_TXD[2]" AB21;
IO_PORT "RGMII_TXD[2]" IO_TYPE=LVCMOS25 SLEW_RATE=FAST PULL_MODE=NONE DRIVE=16 BANK_VCCIO=2.5;
IO_LOC "RGMII_TXD[1]" AB20;
IO_PORT "RGMII_TXD[1]" IO_TYPE=LVCMOS25 SLEW_RATE=FAST PULL_MODE=NONE DRIVE=16 BANK_VCCIO=2.5;
IO_LOC "RGMII_TXD[0]" AA19;
IO_PORT "RGMII_TXD[0]" IO_TYPE=LVCMOS25 SLEW_RATE=FAST PULL_MODE=NONE DRIVE=16 BANK_VCCIO=2.5;
IO_LOC "RGMII_GTXCLK" W19;
IO_PORT "RGMII_GTXCLK" IO_TYPE=LVCMOS25 SLEW_RATE=FAST PULL_MODE=NONE DRIVE=16 BANK_VCCIO=2.5;
IO_LOC "sync_in" T16;
IO_PORT "sync_in" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "reset" F14;
IO_PORT "reset" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "txnrx" D19;
IO_PORT "txnrx" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "enable" F13;
IO_PORT "enable" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "en_agc" F15;
IO_PORT "en_agc" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_frame_out_p" A13;
IO_PORT "tx_frame_out_p" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_clk_out_p" A15;
IO_PORT "tx_clk_out_p" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[11]" C14;
IO_PORT "tx_data_out[11]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[10]" C15;
IO_PORT "tx_data_out[10]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[9]" E13;
IO_PORT "tx_data_out[9]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[8]" E14;
IO_PORT "tx_data_out[8]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[7]" C13;
IO_PORT "tx_data_out[7]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[6]" B13;
IO_PORT "tx_data_out[6]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[5]" D17;
IO_PORT "tx_data_out[5]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[4]" C17;
IO_PORT "tx_data_out[4]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[3]" B15;
IO_PORT "tx_data_out[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[2]" B16;
IO_PORT "tx_data_out[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[1]" B17;
IO_PORT "tx_data_out[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tx_data_out[0]" B18;
IO_PORT "tx_data_out[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "cal_request" H17;
IO_PORT "cal_request" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXDV" Y18;
IO_PORT "RGMII_RXDV" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXD[3]" W17;
IO_PORT "RGMII_RXD[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXD[2]" V17;
IO_PORT "RGMII_RXD[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXD[1]" U18;
IO_PORT "RGMII_RXD[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXD[0]" U17;
IO_PORT "RGMII_RXD[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "RGMII_RXCLK" Y19;
IO_PORT "RGMII_RXCLK" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[11]" B21;
IO_PORT "rx_data_in[11]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[10]" A21;
IO_PORT "rx_data_in[10]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[9]" D20;
IO_PORT "rx_data_in[9]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[8]" C20;
IO_PORT "rx_data_in[8]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[7]" D21;
IO_PORT "rx_data_in[7]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[6]" E21;
IO_PORT "rx_data_in[6]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[5]" E22;
IO_PORT "rx_data_in[5]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[4]" D22;
IO_PORT "rx_data_in[4]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[3]" B20;
IO_PORT "rx_data_in[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[2]" A20;
IO_PORT "rx_data_in[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[1]" A18;
IO_PORT "rx_data_in[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_data_in[0]" A19;
IO_PORT "rx_data_in[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_clk_in_p" C18;
IO_PORT "rx_clk_in_p" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rst_n" L18;
IO_PORT "rst_n" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "sys_clk" V22;
IO_PORT "sys_clk" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "rx_frame_in_p" C22;
IO_PORT "rx_frame_in_p" IO_TYPE=LVCMOS25 PULL_MODE=NONE BANK_VCCIO=2.5;
